table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 90%;
  }
  
  td, th {
    width: 25%;
   
  }

  .svg {
    width: 30px;
    stroke: #1db32a;
  }


  
  .mat-mdc-header-cell {
    font-weight: bolder;
    margin: 0 auto;
  }
  
  .contenedor{ 
    display: flex; 
    justify-content: center;
    background-color: #ffffff;
    margin-top: 5rem;
  }





  .mdc-data-table__cell, .mdc-data-table__header-cell {
    padding: 0 10px 0 10px;
    font-size: 1.2rem;
    line-height: 1.2rem;
}



.contenedor_top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 
Apartado para los botones de Info
*/

.info-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(26, 24, 24);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
  text-decoration: none !important;
}

.info-svgIcon {
  width: 17px;
  transition-duration: 0.3s;
}

.info-svgIcon path {
  fill: rgb(49, 226, 93);
}

.info-button:hover {
  width: 120px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(75, 93, 255);
  align-items: center;
}

.info-button:hover .info-svgIcon {
  width: 20px;
  transition-duration: 0.3s;
  transform: translateY(60%);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.info-button::before {
  display: none;
  content: "Informacion";
  color: white;
  transition-duration: 0.3s;
  font-size: 2px;
}

.info-button:hover::before {
  display: block;
  padding-right: 10px;
  font-size: 13px;
  opacity: 1;
  transform: translateY(0px);
  transition-duration: 0.3s;
}















/* 
Apartado para los botones de editar
*/

  .edit-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(26, 24, 24);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
    text-decoration: none !important;
  }
  
  .edit-svgIcon {
    width: 17px;
    transition-duration: 0.3s;
  }
  
  .edit-svgIcon path {
    fill: rgb(151, 106, 235);
  }
  
  .edit-button:hover {
    width: 120px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: rgb(97, 82, 236);
    align-items: center;
  }
  
  .edit-button:hover .edit-svgIcon {
    width: 20px;
    transition-duration: 0.3s;
    transform: translateY(60%);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  
  .edit-button::before {
    display: none;
    content: "Editar";
    color: rgb(255, 255, 255);
    transition-duration: 0.3s;
    font-size: 2px;
  }
  
  .edit-button:hover::before {
    display: block;
    padding-right: 10px;
    font-size: 13px;
    opacity: 1;
    transform: translateY(0px);
    transition-duration: 0.3s;
  }
  


/* 
Apartado para los botones de agregar
*/

.add-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(26, 24, 24);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
    text-decoration: none !important;
  }
  
  .add-svgIcon {
    width: 17px;
    transition-duration: 0.3s;
  }
  
  .add-svgIcon path {
    fill: rgb(49, 226, 93);
  }
  
  .add-button:hover {
    width: 120px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: rgb(54, 218, 54);
    align-items: center;
  }
  
  .add-button:hover .edit-svgIcon {
    width: 20px;
    transition-duration: 0.3s;
    transform: translateY(60%);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  
  .add-button::before {
    display: none;
    content: "Agregar";
    color: white;
    transition-duration: 0.3s;
    font-size: 2px;
  }
  
  .add-button:hover::before {
    display: block;
    padding-right: 10px;
    font-size: 13px;
    opacity: 1;
    transform: translateY(0px);
    transition-duration: 0.3s;
  }
  


  /*borrar estilos*/
  .delete-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
}

.delete-svgIcon {
  width: 15px;
  transition-duration: 0.3s;
}

.delete-svgIcon path {
  fill: rgb(204, 40, 40);
}

.delete-button:hover {
  width: 90px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(236, 111, 111);
  align-items: center;
}

.delete-button:hover .delete-svgIcon {
  width: 20px;
  transition-duration: 0.3s;
  transform: translateY(60%);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.delete-button::before {
  display: none;
  content: "Borrar";
  color: white;
  transition-duration: 0.3s;
  font-size: 2px;
}

.delete-button:hover::before {
  display: block;
  padding-right: 10px;
  font-size: 13px;
  opacity: 1;
  transform: translateY(0px);
  transition-duration: 0.3s;
}




