.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
    margin: 40px auto;
    padding: 25px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    font-size: 24px;
    color: royalblue;
    font-weight: 600;
    letter-spacing: -0.5px;
    text-align: center;
  }
  
  .message, .signin {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
    text-align: center;
  }
  
  .signin a {
    color: royalblue;
    text-decoration: none;
  }
  
  .signin a:hover {
    text-decoration: underline;
  }
  
  .submit {
    margin-top: 20px;
    padding: 10px;
    background-color: royalblue;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit:hover {
    background-color: rgb(56, 90, 194);
  }
  