<mat-card class="chart-card">
    <mat-card-title>Citas por Sucursal Hoy</mat-card-title>
    <mat-card-content>
      <canvas #citasSucursalCanvas></canvas>
    </mat-card-content>
  </mat-card>
  
  <mat-card class="chart-card">
    <mat-card-title>Top Servicios Vendidos</mat-card-title>
    <mat-card-content>
      <canvas #topServiciosCanvas></canvas>
    </mat-card-content>
  </mat-card>
  
  <mat-card class="chart-card" style="padding-bottom: 5rem;">
    <mat-card-title>Top Productos Vendidos</mat-card-title>
    <mat-card-content>
      <canvas #topProductosCanvas></canvas>
    </mat-card-content>
  </mat-card>
  