mat-form-field {
    width: 100%;
  }
  
  table {
    width: 100%;
  }
  

  
  mat-paginator {
    margin-top: 16px;
  }

  .contenedor{ 
    display: flex; 
    justify-content: center;
    background-color: #ffffff;
    margin-top: 5rem;
  }