@if (service) {
    <div class="service-detail-container">
        <h1 class="service-name">{{service.nombre}}</h1>
        <p class="service-category"><strong>Descripcion: </strong> {{service.descripcion}}</p>
        <p class="service-description"><strong>Tipo de mascota: </strong> {{service.Tipo_mascota}}</p>
        <p class="service-description"><strong> Duración:  </strong>{{getUTCDateTime(service.tiempo_servicio)}} </p>
        <p class="service-price"><strong>Precio: </strong> {{service.tarifa| currency : "CRC":undefined:'3.0'}}</p>
        <p class="service-type"><strong>Especialidad: </strong> {{service.Especialidad}}</p>
    
        <div class="conteneedorcompra">
            <button class="cta" (click)="irAAgenda()">
                <span class="hover-underline-animation"> Agendar Cita </span>
                <svg id="arrow-horizontal" xmlns="http://www.w3.org/2000/svg" width="30" height="10" viewBox="0 0 46 16">
                    <path id="Path_10" data-name="Path 10"
                        d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z" transform="translate(30)">
                    </path>
                </svg>
            </button>
        </div>
    
    
    </div>
}
