@if (detallesfactura) {
  <div class="">
<mat-card class="factura-card separador">
  <mat-card-header class="contenedor">
    <mat-card-title>Detalle de Factura</mat-card-title>
    <mat-card-subtitle>
      Fecha de Factura: {{ FechaFactura | date : "longDate" : "es-ES" }}
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <section class="factura-section">
      <h3>Encabezado</h3>
      <div class="encabezado-container">
        <div class="encabezado-columna">
          <p> <strong>ID: </strong> {{ Cliente.id }}</p>
          <p> <strong>Cliente: </strong> {{ Cliente.nombre }}</p>
          <p> <strong>Email: </strong> {{ Cliente.correo_electronico }}</p>
        </div>
        <div class="encabezado-columna">
          <p> <strong>Sucursal: </strong> {{ Sucursal.nombre }}</p>
          <p> <strong>Teléfono: </strong> {{ Sucursal.telefono }}</p>
          <p> <strong>Dirección: </strong> {{ Sucursal.direccion }}</p>
        </div>
      </div>
    </section>

    @if(productos.length>0){
      <section>
        <h3>Productos</h3>
        <mat-table [dataSource]="productos" class="mat-elevation-z8">
          <!-- Column Definitions -->
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{ element.producto.nombre }} </td>
          </ng-container>
          <ng-container matColumnDef="cantidad">
            <th mat-header-cell *matHeaderCellDef> Cantidad </th>
            <td mat-cell *matCellDef="let element"> {{ element.cantidad }} </td>
          </ng-container>
          <ng-container matColumnDef="precio">
            <th mat-header-cell *matHeaderCellDef> Precio </th>
            <td mat-cell *matCellDef="let element"> {{ element.producto.precio | currency:'CRC':undefined:'3.0' }} </td>
          </ng-container>
          <ng-container matColumnDef="subtotal">
            <th mat-header-cell *matHeaderCellDef> Subtotal </th>
            <td mat-cell *matCellDef="let element"> {{ calcularSubtotalProducto(element) | currency:'CRC':undefined:'3.0' }} </td>
          </ng-container>
          <ng-container matColumnDef="iva">
            <th mat-header-cell *matHeaderCellDef> IVA </th>
            <td mat-cell *matCellDef="let element"> {{ calcularIVA(calcularSubtotalProducto(element)) | currency:'CRC':undefined:'3.0' }} </td>
          </ng-container>
          <ng-container matColumnDef="totalConIVA">
            <th mat-header-cell *matHeaderCellDef> Total </th>
            <td mat-cell *matCellDef="let element"> {{ calcularTotalConIVA(calcularSubtotalProducto(element)) | currency:'CRC':undefined:'3.0' }} </td>
          </ng-container>
          <!-- Row Definitions -->
          <tr mat-header-row *matHeaderRowDef="displayedColumnsProduct"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsProduct;"></tr>
        </mat-table>
      </section>
    }

    @if (servicios.length>0) {
      <section>
        <h3>Servicios</h3>
        <mat-table [dataSource]="servicios" class="mat-elevation-z8">
          <!-- Column Definitions -->
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{ element.servicio.nombre }} </td>
          </ng-container>
          <ng-container matColumnDef="especialidad">
            <th mat-header-cell *matHeaderCellDef> Especialidad </th>
            <td mat-cell *matCellDef="let element"> {{ element.servicio.Especialidad }} </td>
          </ng-container>
          <ng-container matColumnDef="tarifa">
            <th mat-header-cell *matHeaderCellDef> Precio de servicio </th>
            <td mat-cell *matCellDef="let element"> {{ element.servicio.tarifa | currency:'CRC':undefined:'3.0' }} </td>
          </ng-container>
          <ng-container matColumnDef="subtotal">
            <th mat-header-cell *matHeaderCellDef> Subtotal </th>
            <td mat-cell *matCellDef="let element"> {{ calcularSubtotalServicio(element) | currency:'CRC':undefined:'3.0' }} </td>
          </ng-container>
          <ng-container matColumnDef="iva">
            <th mat-header-cell *matHeaderCellDef> IVA </th>
            <td mat-cell *matCellDef="let element"> {{ calcularIVA(calcularSubtotalServicio(element)) | currency:'CRC':undefined:'3.0' }} </td>
          </ng-container>
          <ng-container matColumnDef="totalConIVA">
            <th mat-header-cell *matHeaderCellDef> Total </th>
            <td mat-cell *matCellDef="let element"> {{ calcularTotalConIVA(calcularSubtotalServicio(element)) | currency:'CRC':undefined:'3.0' }} </td>
          </ng-container>
          <!-- Row Definitions -->
          <tr mat-header-row *matHeaderRowDef="displayedColumnsService"></tr>
          <tr mat-row *matRowDef="let row; columns:displayedColumnsService;"></tr>
        </mat-table>
      </section>
    }

    <section class="factura-totales">
      <h3>Total a pagar</h3>
      <p>{{ totalGeneral | currency:'CRC' :undefined:'3.0' }}</p>
    </section>
  </mat-card-content>
</mat-card>
</div>
}
