@if (detallesfactura) {
  <div class="">
<mat-card class="factura-card separador">
  <mat-card-header class="contenedor">
    <mat-card-title>Detalle de Factura</mat-card-title>
    <mat-card-subtitle>
      Fecha de Factura: {{ FechaFactura | date : "longDate" : "es-ES" }}
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <section class="factura-section">
      <h3>Encabezado</h3>
      <div class="encabezado-container">
        <div class="encabezado-columna">
          <p> <strong>ID: </strong> {{ Cliente.id }}</p>
          <p> <strong>Cliente: </strong> {{ Cliente.nombre }}</p>
          <p> <strong>Email: </strong> {{ Cliente.correo_electronico }}</p>
        </div>
        <div class="encabezado-columna">
          <p> <strong>Sucursal: </strong> {{ Sucursal.nombre }}</p>
          <p> <strong>Teléfono: </strong> {{ Sucursal.telefono }}</p>
          <p> <strong>Dirección: </strong> {{ Sucursal.direccion }}</p>
        </div>
      </div>
    </section>

    <section class="factura-section">
      <h3>Detalle</h3>
      <mat-table [dataSource]="detallesfactura" class="mat-elevation-z8">
        <!-- Column Definitions -->

        <ng-container matColumnDef="producto">
          <th mat-header-cell *matHeaderCellDef>Nombre del Producto</th>
          <td mat-cell *matCellDef="let element">
            @if (element.producto) {

            {{ element.producto.nombre }}

            } @else {"No registro productos"}
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef>Nombre del Servicio</th>
          <td mat-cell *matCellDef="let element">
            @if (element.servicio) {

            {{ element.servicio.nombre }}

            } @else {"No registro servicios"}
          </td>

          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="cantidad">
          <th mat-header-cell *matHeaderCellDef>Cantidad producto</th>
          <td mat-cell *matCellDef="let element">
            @if (element.producto) {

            {{ element.cantidad }}

            } @else {"No registro productos"}
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="precioP">
          <th mat-header-cell *matHeaderCellDef>Precio Producto</th>
          <td mat-cell *matCellDef="let element">
            @if (element.producto) {
            {{ element.producto.precio | currency : "CRC":undefined:'3.0'}}
          } @else {"No registro productos"}
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="precioS">
          <th mat-header-cell *matHeaderCellDef>Precio Servicio</th>
          
          <td mat-cell *matCellDef="let element">
            
            @if (element.servicio) {
            {{ element.servicio.tarifa | currency : "CRC":undefined:'3.0'}}
          } @else {"No registro servicios"}
          </td>
          <td mat-footer-cell *matFooterCellDef class="detalleFinal">
            <div>Subtotal</div>
            <div>IVA (13%)</div>
            <div>Total</div>
          </td>
        </ng-container>
        
        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef>Total a pagar</th>
          <td mat-cell *matCellDef="let element"></td>
          <td mat-footer-cell *matFooterCellDef>
            <div>{{ subtotal | currency : "CRC":undefined:'3.0' }}</div>
            <div>{{ (subtotal * 0.13) | currency : "CRC":undefined:'3.0'}}</div>
            <div>{{ (subtotal * 1.13) | currency : "CRC":undefined:'3.0' }}</div>
          </td>
        </ng-container>
     

        <!-- Row Definitions -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <tr
          mat-footer-row
          *matFooterRowDef="[
            'producto',
            'nombre',
            'cantidad',
            'precioP',
            'precioS',
            'total',
          
            
          ]"
          class="example-second-footer-row"
        ></tr>
      </mat-table>
    </section>

    <section class="factura-totales">
      <h3>Totales</h3>
      <p>Total de la Compra: {{ totalCompra| currency : "CRC":undefined:'3.0' }}</p>
    </section>
  </mat-card-content>
</mat-card>
</div>
}
