<mat-card>
  <mat-card-content>
    <div class="content animate__animated animate__fadeIn">
      <h1>Bienvenido a nuestra Clínica y Tienda Veterinaria</h1>
      <p>Ofrecemos una amplia gama de servicios y productos para el cuidado integral de tu mascota.</p>
      <button mat-raised-button color="accent" [routerLink]="[ '/acerca']">Conoce más</button>
    </div>
    
    <section class="services animate__animated animate__fadeInLeft">
      <h2>Servicios</h2>
      <p>Nuestra clínica ofrece consultas generales, vacunaciones, cirugías y tratamientos especializados para el bienestar de tus mascotas.</p>
      <img src="../../../assets/Servicios.webp" alt="Servicios Veterinarios">
    </section>
    
    <section class="products animate__animated animate__fadeInRight">
      <h2>Productos</h2>
      <p>Encuentra alimentos, juguetes, accesorios y productos de higiene de las mejores marcas para garantizar la salud y felicidad de tu mascota.</p>
      <img src="../../../assets/Productos.webp" alt="Productos para Mascotas">
    </section>
    
    <section class="about animate__animated animate__zoomIn" style="margin-bottom: 5rem;">
      <h2>Sobre Nosotros</h2>
      <p>Somos una empresa con más de 10 años de experiencia en el cuidado de animales. Nuestro compromiso es ofrecer el mejor servicio y productos de calidad superior.</p>
      <img src="../../../assets/sobre nosotros.webp" alt="Acerca de Nosotros">
    </section>
  </mat-card-content>
</mat-card>


