<ng-container *ngIf="cita">
  <mat-card>
    <mat-card-header class="centrado">
      <mat-card-title>Detalle de la Cita: {{ cita.fecha_cita | date: 'fullDate' }}</mat-card-title>
      <mat-card-subtitle class="{{cita.estado}}">{{ cita.estado }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="Información General">
          <mat-list>
            <mat-list-item><strong>Dirección: </strong>{{ cliente.direccion }}</mat-list-item>
            <mat-list-item><strong>Condición: </strong>{{ cita.condicion }}</mat-list-item>
            <mat-list-item><strong>Motivo: </strong>{{ cita.motivo }}</mat-list-item>
            <mat-list-item><strong>Observaciones: </strong>{{ cita.observaciones }}</mat-list-item>
            <mat-list-item><strong>Vacunas: </strong>{{ cita.vacunas }}</mat-list-item>
            <mat-list-item><strong>Fecha y Hora: </strong>{{ cita.hora_cita | date: 'MMMM d, y, h:mm aaaa' }}</mat-list-item>
          </mat-list>
        </mat-tab>
        <mat-tab label="Cliente">
          <mat-list>
            <mat-list-item><strong>Nombre: </strong>{{ cliente.nombre }}</mat-list-item>
            <mat-list-item><strong>Teléfono: </strong>{{ cliente.telefono }}</mat-list-item>
            <mat-list-item><strong>Correo: </strong>{{ cliente.correo_electronico }}</mat-list-item>
            <mat-list-item><strong>Dirección: </strong>{{ cliente.direccion }}</mat-list-item>
          </mat-list>
        </mat-tab>
        <mat-tab label="Mascota">
          <mat-list>
            <mat-list-item><strong>Nombre: </strong>{{ mascota.nombre }}</mat-list-item>
            <mat-list-item><strong>Especie: </strong>{{ mascota.especie }}</mat-list-item>
            <mat-list-item><strong>Raza: </strong>{{ mascota.raza }}</mat-list-item>
            <mat-list-item><strong>Sexo: </strong>{{ mascota.sexo }}</mat-list-item>
            <mat-list-item><strong>Fecha de Nacimiento: </strong>{{ mascota.fecha_nacimiento | date: 'fullDate' }}</mat-list-item>
          </mat-list>
        </mat-tab>
        <mat-tab label="Servicios">
          <mat-grid-list cols="4" rowHeight="200px">
            <ng-container *ngFor="let servicio of servicios">
              <ng-container *ngIf="servicio">
                <mat-grid-tile>
                  <mat-card>
                    <mat-card-header>
                      <mat-card-title>{{ servicio.nombre }}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                      <p><strong>Descripción:</strong> {{ servicio.descripcion }}</p>
                      <p><strong>Tarifa:</strong> {{ servicio.tarifa | currency : 'CRC':undefined:'3.0' }}</p>
                      <p><strong>Duración:</strong> {{ formatDuration(servicio.tiempo_servicio) }}</p>
                    </mat-card-content>
                  </mat-card>
                </mat-grid-tile>
              </ng-container>
            </ng-container>
          </mat-grid-list>
        </mat-tab>
        <mat-tab label="Sucursal">
          <mat-list>
            <mat-list-item><strong>Nombre: </strong>{{ sucursal.nombre }}</mat-list-item>
            <mat-list-item><strong>Descripción: </strong>{{ sucursal.descripcion }}</mat-list-item>
            <mat-list-item><strong>Teléfono: </strong>{{ sucursal.telefono }}</mat-list-item>
            <mat-list-item><strong>Dirección: </strong>{{ sucursal.direccion }}</mat-list-item>
            <mat-list-item><strong>Correo electrónico: </strong>{{ sucursal.correo_electronico }}</mat-list-item>
          </mat-list>
        </mat-tab>
        <mat-tab label="Factura">
          <ng-container *ngIf="cita.facturas && cita.facturas.length > 0">
            <mat-list>
              <mat-list-item><strong>Fecha de la Factura: </strong>{{ cita.facturas[0].fecha_factura | date: 'fullDate' }}</mat-list-item>
              <mat-list-item><strong>Estado: </strong>{{ cita.facturas[0].estado }}</mat-list-item>
              <mat-list-item><strong>Método de Pago: </strong>{{ cita.facturas[0].metodo_pago }}</mat-list-item>
              <mat-list-item><strong>Subtotal: </strong>{{ cita.facturas[0].subtotal | currency : 'CRC':undefined:'3.0' }}</mat-list-item>
              <mat-list-item><strong>Impuesto: </strong>{{ cita.facturas[0].impuesto | currency : 'CRC':undefined:'3.0' }}</mat-list-item>
              <mat-list-item><strong>Total: </strong>{{ cita.facturas[0].total | currency : 'CRC':undefined:'3.0' }}</mat-list-item>
            </mat-list>
          </ng-container>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</ng-container>
