<mat-card *ngFor="let cita of citasManana" class="cita-card">
    <mat-card-header>
      <mat-card-title>
        <mat-icon>event</mat-icon> Detalles de la Cita
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p><strong>Mascota:</strong> {{ cita.mascota.nombre }} ({{ cita.mascota.especie }}, {{ cita.mascota.raza }})</p>
      <p><strong>Fecha y Hora:</strong> {{ cita.hora_cita | date: 'fullDate' }} a las {{ cita.hora_cita | date: 'hh:mm aa' }}</p>
      <p><strong>Sucursal:</strong> {{ cita.sucursal.nombre }} - {{ cita.sucursal.direccion }}</p>
      <p><strong>Observaciones:</strong> {{ cita.observaciones }}</p>
      <p><strong>Motivo:</strong> {{ cita.motivo }}</p>
      <p><strong>Condición:</strong> {{ cita.condicion }}</p>
      <p><strong>Vacunas:</strong> {{ cita.vacunas }}</p>
      <p><strong>Estado:</strong> {{ cita.estado }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="confirmarCita(cita)">
        Confirmar Cita
      </button>
      <button mat-raised-button style="background-color: red;" (click)="confirmarCita(cita)">
        Cancelar Cita
      </button>
    </mat-card-actions>
  </mat-card>
  
  @if(citasManana.length<=0){
    <mat-card >
      <div class="no-citas-container">
        <mat-icon>calendar_today</mat-icon>
        <p>No hay citas pendientes para mañana.</p>
      </div>
    </mat-card>
  }
  
  